---
http_interactions:
- request:
    method: post
    uri: https://api.thebase.in/1/categories/add
    body:
      encoding: UTF-8
      string: name=category2&list_order=2&parent_number=1
    headers:
      Authorization:
      - Bearer <BearerToken>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"categories":[{"category_id":2159127,"name":"test item","list_order":1,"number":1,"parent_number":0,"code":"0001"},{"category_id":2159130,"name":"test
        middle","list_order":1,"number":2,"parent_number":1,"code":"0001-0002"},{"category_id":2159132,"name":"test
        small","list_order":1,"number":3,"parent_number":2,"code":"0001-0002-0003"},{"category_id":2159157,"name":"category2","list_order":2,"number":4,"parent_number":1,"code":"0001-0004"}]}'
  recorded_at: Sat, 01 Feb 2020 12:45:42 GMT
recorded_with: VCR 5.0.0
