---
http_interactions:
- request:
    method: post
    uri: https://api.thebase.in/1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=<BaseClientId>&client_secret=<BaseClientSecret>&refresh_token=<BaseRefreshToken>&redirect_uri=<BaseRedirectURI>
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<BaseAccessToken>","token_type":"bearer","expires_in":3600,"refresh_token":"<BaseRefreshToken>"}'
  recorded_at: Sat, 18 Jan 2020 14:47:22 GMT
recorded_with: VCR 5.0.0
