---
http_interactions:
- request:
    method: get
    uri: https://api.thebase.in/1/items/search?limit=10&offset=0&q=%E3%82%AD%E3%83%B3%E3%82%B0%E3%83%80%E3%83%A0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BearerToken>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"items":[{"item_id":23245394,"title":"\uff08\u4e2d\u53e4\uff09\u30ad\u30f3\u30b0\u30c0\u30e0
        55\u520a","detail":"\u30ad\u30f3\u30b0\u30c0\u30e055\u520a\u306e\u4e2d\u53e4\u54c1\u306b\u306a\u308a\u307e\u3059\u3002\u3088\u3054\u308c\u3084\u6298\u308c\u76ee\u306a\u3069\u306a\u304f\u304d\u308c\u3044\u306a\u72b6\u614b\u3067\u3059\u3002","price":500,"proper_price":null,"item_tax_type":1,"stock":0,"visible":1,"list_order":2,"identifier":null,"modified":1570261856,"img1_origin":"https:\/\/base-ec2.akamaized.net\/images\/item\/origin\/940f293ef93f22003af659b9c7922146.jpg","img1_76":"https:\/\/base-ec2.akamaized.net\/images\/item\/76\/940f293ef93f22003af659b9c7922146.jpg","img1_146":"https:\/\/base-ec2.akamaized.net\/images\/item\/146\/940f293ef93f22003af659b9c7922146.jpg","img1_300":"https:\/\/base-ec2.akamaized.net\/images\/item\/300\/940f293ef93f22003af659b9c7922146.jpg","img1_500":"https:\/\/base-ec2.akamaized.net\/images\/item\/500\/940f293ef93f22003af659b9c7922146.jpg","img1_640":"https:\/\/base-ec2.akamaized.net\/images\/item\/640\/940f293ef93f22003af659b9c7922146.jpg","img1_sp_480":null,"img1_sp_640":"https:\/\/base-ec2.akamaized.net\/images\/item\/sp\/640\/940f293ef93f22003af659b9c7922146.jpg","img2_origin":null,"img2_76":null,"img2_146":null,"img2_300":null,"img2_500":null,"img2_640":null,"img2_sp_480":null,"img2_sp_640":null,"img3_origin":null,"img3_76":null,"img3_146":null,"img3_300":null,"img3_500":null,"img3_640":null,"img3_sp_480":null,"img3_sp_640":null,"img4_origin":null,"img4_76":null,"img4_146":null,"img4_300":null,"img4_500":null,"img4_640":null,"img4_sp_480":null,"img4_sp_640":null,"img5_origin":null,"img5_76":null,"img5_146":null,"img5_300":null,"img5_500":null,"img5_640":null,"img5_sp_480":null,"img5_sp_640":null,"img6_origin":null,"img6_76":null,"img6_146":null,"img6_300":null,"img6_500":null,"img6_640":null,"img6_sp_480":null,"img6_sp_640":null,"img7_origin":null,"img7_76":null,"img7_146":null,"img7_300":null,"img7_500":null,"img7_640":null,"img7_sp_480":null,"img7_sp_640":null,"img8_origin":null,"img8_76":null,"img8_146":null,"img8_300":null,"img8_500":null,"img8_640":null,"img8_sp_480":null,"img8_sp_640":null,"img9_origin":null,"img9_76":null,"img9_146":null,"img9_300":null,"img9_500":null,"img9_640":null,"img9_sp_480":null,"img9_sp_640":null,"img10_origin":null,"img10_76":null,"img10_146":null,"img10_300":null,"img10_500":null,"img10_640":null,"img10_sp_480":null,"img10_sp_640":null,"img11_origin":null,"img11_76":null,"img11_146":null,"img11_300":null,"img11_500":null,"img11_640":null,"img11_sp_480":null,"img11_sp_640":null,"img12_origin":null,"img12_76":null,"img12_146":null,"img12_300":null,"img12_500":null,"img12_640":null,"img12_sp_480":null,"img12_sp_640":null,"img13_origin":null,"img13_76":null,"img13_146":null,"img13_300":null,"img13_500":null,"img13_640":null,"img13_sp_480":null,"img13_sp_640":null,"img14_origin":null,"img14_76":null,"img14_146":null,"img14_300":null,"img14_500":null,"img14_640":null,"img14_sp_480":null,"img14_sp_640":null,"img15_origin":null,"img15_76":null,"img15_146":null,"img15_300":null,"img15_500":null,"img15_640":null,"img15_sp_480":null,"img15_sp_640":null,"img16_origin":null,"img16_76":null,"img16_146":null,"img16_300":null,"img16_500":null,"img16_640":null,"img16_sp_480":null,"img16_sp_640":null,"img17_origin":null,"img17_76":null,"img17_146":null,"img17_300":null,"img17_500":null,"img17_640":null,"img17_sp_480":null,"img17_sp_640":null,"img18_origin":null,"img18_76":null,"img18_146":null,"img18_300":null,"img18_500":null,"img18_640":null,"img18_sp_480":null,"img18_sp_640":null,"img19_origin":null,"img19_76":null,"img19_146":null,"img19_300":null,"img19_500":null,"img19_640":null,"img19_sp_480":null,"img19_sp_640":null,"img20_origin":null,"img20_76":null,"img20_146":null,"img20_300":null,"img20_500":null,"img20_640":null,"img20_sp_480":null,"img20_sp_640":null,"variations":[]},{"item_id":25931281,"title":"\uff08\u4e2d\u53e4\uff09\u30ad\u30f3\u30b0\u30c0\u30e0
        56\u520a","detail":"\u30ad\u30f3\u30b0\u30c0\u30e056\u520a\u306e\u4e2d\u53e4\u54c1\u306b\u306a\u308a\u307e\u3059\u3002\u3088\u3054\u308c\u3084\u6298\u308c\u76ee\u306a\u3069\u306a\u304f\u304d\u308c\u3044\u306a\u72b6\u614b\u3067\u3059\u3002","price":500,"proper_price":null,"item_tax_type":1,"stock":1,"visible":1,"list_order":1,"identifier":null,"modified":1579338401,"img1_origin":"https:\/\/base-ec2.aka[...]
