---
http_interactions:
- request:
    method: get
    uri: https://api.thebase.in/1/item_categories/detail/26105787
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BearerToken>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"item_categories":[{"item_category_id":28218433,"item_id":26105787,"category_id":2159127}]}'
  recorded_at: Sat, 01 Feb 2020 13:15:22 GMT
recorded_with: VCR 5.0.0
