---
http_interactions:
- request:
    method: get
    uri: https://api.thebase.in/1/orders?limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BearerToken>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"orders":[{"unique_key":"testuniquekey","ordered":1570261856,"cancelled":1575385369,"dispatched":null,"payment":"creditcard","first_name":"aaa","last_name":"bbbb","total":0,"delivery_date":null,"delivery_time_zone":null,"terminated":true,"dispatch_status":"cancelled","modified":1575385369,"subscription":{"unique_key":null,"repeat_number":null,"repeat_times":null}}]}'
  recorded_at: Sat, 18 Jan 2020 16:49:26 GMT
recorded_with: VCR 5.0.0
