---
http_interactions:
- request:
    method: get
    uri: https://api.thebase.in/1/items?limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BearerToken>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"items":[{"item_id":25931281,"title":"\uff08\u4e2d\u53e4\uff09\u30ad\u30f3\u30b0\u30c0\u30e0
        56\u520a","detail":"\u30ad\u30f3\u30b0\u30c0\u30e056\u520a\u306e\u4e2d\u53e4\u54c1\u306b\u306a\u308a\u307e\u3059\u3002\u3088\u3054\u308c\u3084\u6298\u308c\u76ee\u306a\u3069\u306a\u304f\u304d\u308c\u3044\u306a\u72b6\u614b\u3067\u3059\u3002","price":500,"proper_price":null,"item_tax_type":1,"stock":1,"visible":1,"list_order":1,"identifier":null,"modified":1579338401,"img1_origin":"https:\/\/base-ec2.akamaized.net\/images\/item\/origin\/e79e42ac4c3b2e38ef076ba0863baa3c.jpg","img2_origin":null,"img3_origin":null,"img4_origin":null,"img5_origin":null,"variations":[]},{"item_id":23245394,"title":"\uff08\u4e2d\u53e4\uff09\u30ad\u30f3\u30b0\u30c0\u30e0
        55\u520a","detail":"\u30ad\u30f3\u30b0\u30c0\u30e055\u520a\u306e\u4e2d\u53e4\u54c1\u306b\u306a\u308a\u307e\u3059\u3002\u3088\u3054\u308c\u3084\u6298\u308c\u76ee\u306a\u3069\u306a\u304f\u304d\u308c\u3044\u306a\u72b6\u614b\u3067\u3059\u3002","price":500,"proper_price":null,"item_tax_type":1,"stock":0,"visible":1,"list_order":2,"identifier":null,"modified":1570261856,"img1_origin":"https:\/\/base-ec2.akamaized.net\/images\/item\/origin\/940f293ef93f22003af659b9c7922146.jpg","img2_origin":null,"img3_origin":null,"img4_origin":null,"img5_origin":null,"variations":[]}]}'
  recorded_at: Sat, 18 Jan 2020 09:16:38 GMT
recorded_with: VCR 5.0.0
