---
http_interactions:
- request:
    method: post
    uri: https://api.thebase.in/1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&client_id=<BaseClientId>&client_secret=<BaseClientSecret>&code=invalid%20code&redirect_uri=<BaseRedirectURI>
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"\u4e0d\u6b63\u306a\u8a8d\u53ef\u30b3\u30fc\u30c9\u3067\u3059\u3002"}'
  recorded_at: Sat, 18 Jan 2020 14:08:20 GMT
recorded_with: VCR 5.0.0
