---
http_interactions:
- request:
    method: post
    uri: https://api.thebase.in/1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=<BaseClientId>&client_secret=<BaseClientSecret>&refresh_token=invalid%20token&redirect_uri=<BaseRedirectURI>
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"\u4e0d\u6b63\u306a\u30ea\u30d5\u30ec\u30c3\u30b7\u30e5\u30c8\u30fc\u30af\u30f3\u3067\u3059\u3002"}'
  recorded_at: Sat, 18 Jan 2020 14:57:07 GMT
recorded_with: VCR 5.0.0
